---
layout: default
---

{% include heading.html text="Other Links" %}

{% include button.html text="My Website" image="/images/Website.png" url="https://leafhub.dev/" %}
{% include button.html text="Felicity" image="/images/3D.png" url="https://tryfelicity.one" %}
{% include button.html text="D2Checkpoint" image="/images/Clock.png" url="https://d2checkpoint.com/" %}
{% include button.html text="D2 Lost Sector Report" image="/images/Pen.png" url="https://d2lostsector.info/" %}
{% include button.html text="Levante" image="/images/PC.png" url="https://levante.dev" %}
